<p id="notice"><%= notice %></p>

<h1>Listing Sauces</h1>

<table class="table table-striped table-nonfluid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Glutenfree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sauces.each do |sauce| %>
      <tr>
        <td><%= sauce.name %></td>
        <td><%= sauce.description %></td>
        <td><%= sauce.glutenFree %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Show', sauce %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Edit', edit_sauce_path(sauce) %></td>
        <td class="btn btn-danger pull-right btn-sm"><%= link_to 'Destroy', sauce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sauce', new_sauce_path, class: "btn btn-success btn-lg" %>
