<p id="notice"><%= notice %></p>

<h1>Listing Breads</h1>

<table class="table table-striped table-nonfluid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Thickness in inches</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breads.each do |bread| %>
      <tr>
        <td><%= bread.name %></td>
        <td><%= bread.description %></td>
        <td><%= bread.thickness_in_inches %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Show', bread %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Edit', edit_bread_path(bread) %></td>
        <td class="btn btn-danger pull-right btn-sm"><%= link_to 'Destroy', bread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bread', new_bread_path, class: "btn btn-success btn-lg" %>
